{% extends 'base.html'%}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="container">
    <div class="row header" style="height: 40%;;">
      <img src="{% static 'media/bg.jpg' %}" style="height: 50vh;width: 100%;" alt="">
    </div><br><br>
    <div class="row">
      <div  style="font-family: 'Kavivanar', cursive;">
        <div class="container">
            <div class="row">
                {% for project in projects %}
                <div class="col-sm-12 col-md-4 col-lg-3"style="font-family: 'Kavivanar', cursive;">
                    <div class="card">
                        <div class="card-body">
                            <div style="text-align:center;"></div>
                            <a href=""> 
                              <form action="{%url 'project_details' project.pk%}">
                                {% csrf_token %}
                               <button value="{{project.id}}" name="project.id" class="btn btn-sm btn-success" > <img src="{{project.landing_page.url}}" height="auto" width="100%" alt="mascot"></div> <i class="fa fa-thumbs-up" ></i></button> 
                               </a>
                        
                              </form>
                                
                        
                        <div class="overlay">
                            <p style="font-size:15px;">
                              <h5>Name: {{project.title}}</h5> 
                                Posted by:{{project.author}}</p>
                                
                            
                            <br>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
</body>
</html>
    <!-- .button {
      background-color: black;
      border: none;
      color: white;
      padding: 10px 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      margin: 4px 2px;
      cursor: pointer;
      /* border-radius: 16px; */
    }
    .button:hover {
      background-color: #F1F1F1;
    }
    </style> -->
      
    


