<!-- Button trigger modal -->
{%extends 'base.html'%}
{% load static %}
{% block content %} 
{{ block.super}}

{% for project in projects %}
<img src="{{project.landing_page.url}}" alt="">
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#pic{{project.id}}">
    Launch demo modal
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="pic{{project.id}}" tabindex="-1" role="dialog" aria-labelledby="modalLabelLarge" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <p>tittle {{project.title}}</p>
            <p>description {{project.description}}</p>
            <button type="submit"><span class="fa fa-star my-btn checked" id="first"></span></button>
            <button type="submit"><span class="fa fa-star my-btn checked" id="two"></span></button>
            <button type="submit"><span class="fa fa-star my-btn checked" id="three"></span></button>
            <button type="submit"><span class="fa fa-star my-btn"  id="four"></span></button>
            <button type="submit"><span class="fa fa-star my-btn" id="five"></span></button>
        </div>
        <br>
        <div id="confirm-box"></div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>


<script src="{% static 'main.js' %}" defer></script>
    
<!-- jQuery library -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Bootstrap JS -->
<!-- <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script> -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- Initialize Bootstrap functionality -->
<script>
// Initialize tooltip component
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})

// Initialize popover component
$(function () {
  $('[data-toggle="popover"]').popover()
})
</script>
  

{%endfor%}
{%endblock%}
  