<!-- Button trigger modal -->
{%extends 'base.html'%}
{% load static %}
{% block content %} 
{{ block.super}}

{% for project in projects %}
<div class="container">
    <div class="row">
        <!-- <div class="col-sm-8">
            <h2>{{project.title}}</h2>
            <div style="width: 100%; height: auto;">
                <img src="{{project.landing_page.url}}" style="width: 100%; height: auto;" alt="">
            
            </div>
        </div>
        <div class="col-sm-4">
            <div>
                
                   <h5> <p>description {{project.description}}</p></h5>
                   
                       <h5><a href="{{project.link}}">visit</a></h5>
                   
               <h4><p>Rating score: {{project.score}}</p></h4> 
            </div> -->
            <div class="card mb-3" style="max-width: 100vw;">
              <div class="row g-0">
                <div class="col-md-6">
                  <img src="{{project.landing_page.url}}" style="width:100%;height: auto;" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <h3 class="card-title"><strong>Title: </strong>{{project.title}}</h3>
                    <h4><strong>author: </strong>{{project.author}}</h4>
                    <h4 class="card-text"><strong>Description: </strong> {{project.description}}</h4>
                    <h4 class="card-text"><strong>Link: </strong><a href="{{project.link}}" target="blank">visit</a></h4>
                    <h4 class="card-text"><strong>Rating: </strong>{{project.score}} out of 10</h4>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#pic{{project.id}}">
                      Rate
                    </button>
                  
                  </div>
                </div>
              </div>
            </div>
            
             
            
              
              <!-- Modal -->
              <div class="modal fade"  id="pic{{project.id}}" tabindex="-1" role="dialog" aria-labelledby="modalLabelLarge" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Rate project</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body" style="font-size: small;">
                        <p>Give your rating based on:</p>
                        
                          <h3>Design</h3> 
                          <h3>Usability</h3>
                          <h3>Content</h3>
                        

                        <form action="" class="rate-form" method="POST" id="{{project.id}}">
                            {% csrf_token %}
                            <button type="submit"><span class="fa fa-star my-btn" id="first">1</span></button>
                            <button type="submit"><span class="fa fa-star my-btn" id="two">2</span></button>
                            <button type="submit"><span class="fa fa-star my-btn" id="three">3</span></button>
                            <button type="submit"><span class="fa fa-star my-btn"  id="four">4</span></button>
                            <button type="submit"><span class="fa fa-star my-btn" id="five">5</span></button>
                            <button type="submit"><span class="fa fa-star my-btn" id="six">6</span></button>
                            <button type="submit"><span class="fa fa-star my-btn" id="seven">7</span></button>
                            <button type="submit"><span class="fa fa-star my-btn" id="eight">8</span></button>
                            <button type="submit"><span class="fa fa-star my-btn"  id="nine">9</span></button>
                            <button type="submit"><span class="fa fa-star my-btn" id="ten">10</span></button>
                        </form>
                        <br>
                        <div id="confirm-box"></div>
                    </div>
                   
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button type="refresh" onClick="refreshPage()" class="btn btn-primary">Save changes</button>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
</div>



<script>
function refreshPage(){
    window.location.reload();
} 
</script>



<script src="{% static 'main.js' %}" defer></script>
    
<!-- jQuery library -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Bootstrap JS -->
<!-- <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script> -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- Initialize Bootstrap functionality -->
<script>
// Initialize tooltip component
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})

// Initialize popover component
$(function () {
  $('[data-toggle="popover"]').popover()
})
</script>
  

{%endfor%}
{%endblock%}
  