{%extends 'base.html'%}
{% load bootstrap3 %}
{% block content%}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>welcome to your profile page</h1>

<a class="nav-link" href="/update_profile">update profile</a>
{% for profile in profile %}

<div class="modal-body">
  <div class="row">
    <div class="">
        <img src="{{project.landing_page.url}}" height="auto%" width="100%" alt="mascot"></div>
  </div>
 <div >
    <div class="up" style="align-items: center;text-align: center;justify-items: center;align-content: center;width: 80% vw;margin: 10px;">
        <!-- <h2>{{ pic.image_name }}</h2> -->
        
        <h3><strong>Name: </strong> {{project.tittle}}</h3> 
    <h3> <strong> caption:</strong> {{project.description}}</h3>
    <a href="{{project.link}}">link</a>
     
    <h3><strong>comment: </strong>{{project.comments.comments}}</h3>
    <div>

{% empty %}
  <div class="row">
    <h2 class="text-center">No profile info set</h2>
    
    
  </div>
  {% endfor %}

  {%endblock%}
</body>
</html>
