<div>
  <div style="display:flex; background-color: antiquewhite;height: 25vh;" >
    <div class="col-md-4 col-sm-4 col-lg-4">
      
    </div>
    <div class="col-md-2 col-sm-2 col-lg-2" style="align-items: center;text-align: center;"></div>
    <h1>Welcome to instagram-clone</h1><br>
</div>

<div style="margin-top: 5px; position: relative; margin-left: 300px;">
  {% block content %}
  <h2>Sign up</h2>
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <button type="submit">Sign up</button>
  </form>

  <a href="{% url 'login' %}"><h3>Aready have an account?</h3></a>
{% endblock %}
</div>
